<div class="modal-inner-container">
  <div class="dialog-header">
    <h1 class="dialog-title">{{ data.agendamento ? 'Editar' : 'Agendar' }} Atendimento</h1>
    <p class="dialog-subtitle">Data Selecionada: {{ data.dataSelecionada | date: 'dd/MM/yyyy' }}</p>
  </div>

  <div class="dialog-content">
    <form [formGroup]="agendamentoForm" class="custom-form">

      <div class="input-wrapper">
        <input type="time" class="custom-input" formControlName="hora" placeholder="Horário">
      </div>

      <div class="input-wrapper">
        <input type="text" class="custom-input" formControlName="nome" placeholder="Buscar Paciente"
          [matAutocomplete]="autoPaciente">
        <mat-autocomplete #autoPaciente="matAutocomplete">
          <mat-option *ngFor="let paciente of pacientesFiltrados$ | async" [value]="paciente.nome">
            {{ paciente.nome }}
          </mat-option>
        </mat-autocomplete>
        <div class="error-text"
          *ngIf="agendamentoForm.get('nome')?.hasError('selecaoInvalida') && agendamentoForm.get('nome')?.touched">
          Selecione um paciente válido da lista.
        </div>
      </div>

      <div class="input-wrapper">
        <input type="text" class="custom-input" formControlName="estagiarioNome" placeholder="Estagiário"
          [matAutocomplete]="autoEstagiario">
        <mat-autocomplete #autoEstagiario="matAutocomplete">
          <mat-option *ngFor="let estagiario of estagiariosFiltrados$ | async" [value]="estagiario.nome">
            {{ estagiario.nome }}
          </mat-option>
        </mat-autocomplete>
        <div class="error-text"
          *ngIf="agendamentoForm.get('estagiarioNome')?.hasError('selecaoInvalida') && agendamentoForm.get('estagiarioNome')?.touched">
          Selecione um estagiário válido da lista.
        </div>
      </div>

      <div class="input-wrapper">
        <input type="text" class="custom-input" formControlName="professorResponsavelNome"
          placeholder="Professor Responsável" [matAutocomplete]="autoProfessor">
        <mat-autocomplete #autoProfessor="matAutocomplete">
          <mat-option *ngFor="let professor of professoresFiltrados$ | async" [value]="professor.nome">
            {{ professor.nome }}
          </mat-option>
        </mat-autocomplete>
        <div class="error-text"
          *ngIf="agendamentoForm.get('professorResponsavelNome')?.hasError('selecaoInvalida') && agendamentoForm.get('professorResponsavelNome')?.touched">
          Selecione um professor válido da lista.
        </div>
      </div>
    </form>
  </div>

  <div class="dialog-actions">
    <button class="btn-cancel" (click)="fechar()">Cancelar</button>
    <button class="btn-save" (click)="salvar()" [disabled]="agendamentoForm.invalid">Salvar</button>
  </div>
</div>